.row {
  width: 100%;
}

.project-item-container {
  overflow: hidden; 
  max-width: 300px; 
}

.overlay {
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.project-item-img {
  max-height: 400px; 
  object-fit: cover; 
  transition: transform 0.3s ease, filter 0.3s ease; 
}

.project-item-container:hover .overlay {
  opacity: 1; 
}

.project-item-container:hover .project-item-img {
  transform: scale(1.05); 
  filter: blur(5px); 
}

.project-item-text {
  background-color: rgba(0, 0, 0, 0.7); 
  color: #04e596; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
}

.button-container .btn {
  background-color: rgba(0, 0, 0, 0.7); 
  color: #04e596; 
  width: 45%; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease; 
}

.button-container .btn:hover {
  background-color: rgba(255, 255, 255, 0.649); 
  color: #333; 
}
