/* Terminal Styles */
.terminal {
  background-color: #2d2d2d;
  color: #d3d3d3; 
  font-family: 'Courier New', Courier, monospace;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.terminal-header {
  background-color: #ccccccab;
  padding: 5px;
  display: flex;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.terminal-body {
  padding: 20px;
}

.command {
  color: #03ec9a;
}

.lighter {
  color: #d3d3d3; 
}

.section-title {
  color: #03ec9a;
  margin-top: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills div {
  width: 45%;
}
