/* Terminal Styles */
.terminal {
  background-color: #2d2d2d;
  color: #d3d3d3; 
  font-family: 'Courier New', Courier, monospace;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

.image-section, .text-section {
  margin: 20px; 
  flex: 1; 
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; 
  }

  .image-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
  }

  .image-section img {
    max-width: 100%; 
    height: auto; 
    max-height: 300px; 
  }

  .text-section {
    width: 100%;
    margin-top: 30px;
  }

  .terminal {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .flex-container {
    align-items: flex-start; 
  }

  .image-section {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
  }

  .image-section img {
    max-width: 250px; 
    width: auto; 
    height: auto; 
    margin: 0; 
  }
}

.terminal-header {
  background-color: #ccccccab;
  padding: 5px;
  display: flex;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.terminal-body {
  padding: 20px;
}

.command {
  color: #03ec9a;
}

.lighter {
  color: #d3d3d3; 
}

.section-title {
  color: #03ec9a;
  margin-top: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills div {
  width: 45%;
}

.text-section {
  margin: 0; 
  padding: 0; 
}

.bor-bottom {
  border-bottom: 2px solid #0d8f615e; 
}
