.fixed-container {
  display: flex; 
  flex-direction: column; 
  height: 100vh; /* Full height */
}

.content {
  margin-top: 90px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.wave {
  display: inline-block;
  animation: wave-animation 3s infinite;
  transform-origin: 80% 80%;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* Add any other styles that are specific to the Home component */
