.fixed-container {
  display: flex; 
  flex-direction: column; 
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent scrolling */
}

.content {
  /* Default styles for medium and large devices */
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: calc(100vh - 90px); /* Adjust height to fit within the container */
}

/* Styles for small devices */
@media (max-width: 576px) {
  .content {
    position: fixed; /* Keep content fixed in place */
    top: 90px; /* Adjust top position to where you want it */
    left: 55%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    height: calc(100vh - 90px); /* Adjust height to fit within the container */
    overflow: hidden; /* Prevent scrolling within the content */
  }
}

.wave {
  display: inline-block;
  animation: wave-animation 3s infinite;
  transform-origin: 80% 80%;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* Add any other styles that are specific to the Home component */
