.contact-container {
  text-align: center;
  background-color: #bfbfbf;
  border: 3px solid #00000097; 
  transition: background-color 0.9s ease, color 0.9s ease;
  max-width: 800px;
  margin-top: 100px;
}

.dark-mode .contact-container {
  background-color: #1e2228; 
  color: #d3d3d3; 
  border-color: #95bce66c; 
}

.button-container {
  display: flex; 
  justify-content: space-between;
}

.button-container .btn {
  background-color: rgba(0, 0, 0, 0.7); 
  color: #04e596; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.5s ease; 
}

.button-container .btn:hover {
  background-color: rgba(247, 235, 235, 0.649); 
  color: #333; 
}

.bor-bottom {
  border-bottom: 2px solid #0d8f615e; 
}
