/* Light Mode */
.navbar {
  background-color: #cecece; 
  position: fixed; 
  width: 100%; 
  z-index: 1000; 
}

.nav-link {
  color: #333333; 
  position: relative; 
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%; 
  height: 5px; 
  background-color: #04e596; 
  transform: scaleX(0); 
  transition: transform 0.6s ease;
  transform-origin: right; 
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1); 
  transform-origin: left; 
}

/* Dark Mode */
.dark-mode .navbar {
  background-color: #323b46 !important;
}

.dark-mode .nav-link {
  color: #ffffff !important; 
}

.dark-mode .navbar-nav .nav-link {
  position: relative; 
}

.dark-mode .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 40%; 
  height: 5px; 
  background-color: #04e596; 
  transform: scaleX(0); 
  transition: transform 0.6s ease; 
  transform-origin: right; 
}

.dark-mode .navbar-nav .nav-link:hover::after {
  transform: scaleX(1); 
  transform-origin: left; 
}

/* Button Styles for Dark/Light Mode */
.dark-mode .btn-outline-secondary {
  color: #ffffff;
  border-color: #d9f6a39a;
}

.dark-mode .btn-outline-secondary:hover {
  background-color: #f7f7f7;
  color: #ae5656;
}
