/* Light Mode */
.navbar {
  background-color: #cecece;
}

.nav-link {
  color: #333333; 
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3); 
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%; 
  height: 5px; 
  background-color: #04e596; 
  transform: scaleX(0); 
  transition: transform 0.6s ease;
  transform-origin: right; 
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1); 
  transform-origin: left; 
}

/* Dark Mode */
.dark-mode .navbar {
  background-color: #323b46 !important;
}

.dark-mode .nav-link {
  color: #ffffff !important; 
}

.dark-mode .navbar-nav .nav-link {
  position: relative; 
}

.dark-mode .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 40%; 
  height: 5px; 
  background-color: #04e596; 
  transform: scaleX(0); 
  transition: transform 0.6s ease; 
  transform-origin: right; 
}

.dark-mode .navbar-nav .nav-link:hover::after {
  transform: scaleX(1); 
  transform-origin: left; 
}

/* Button Styles for Dark/Light Mode */
.dark-mode .btn-outline-secondary {
  color: #ffffff;
  border-color: #d9f6a39a;
}

.dark-mode .btn-outline-secondary:hover {
  background-color: #f7f7f7;
  color: #ae5656;
}

/* Add this to Navbar.css */
.navbar .portfolio-badge {
    font-size: 1.2rem; 
    padding: 0.75rem 1.5rem; 
}
