html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Light Mode */
body {
  background-image: url('/background.png'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}

/* Dark Mode */
.dark-mode {
  background-image: url('/background2.png'); 
  color: #ffffff; 
}

/* Light Mode Specific Link Styles */
body a {
    color: white; 
}

/* Change link color on hover */
a:hover {
    color: #95bce6; 
}

/* Centering Utility */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
